.Card {
    color: rgb(85, 19, 148)3, 226;
    border: 3px, solid, rgb(85, 19, 148)3, 226;
    border-radius: 10px;
    overflow: hidden;   
}

.Card .Title {
    padding: 10px, 0;
    display: flex;
    justify-content: center;
}

.Card .Content {
    background-color: rgb(149, 98, 197);
    color: black;
    padding: 10px;
}