body{
    font-family: Arial, Helvetica, sans-serif;
    background: #222;
    color: #FFF;
    text-align: center;
    font-size: 1.4rem;
}

h1, h2, h3{
    font-weight: 170;
}

h2, h3{
    margin: 0;
}
